#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@property --radius {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 150px;
}

.spider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  --radius: 150px;

  clip-path: circle(var(--radius) at var(--mouse-x) var(--mouse-y));
  transition: --radius 0.7s cubic-bezier(0.77,0,0.18,1); 
}

.miles-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


div[data-onClick="true"] .spider-image {
  --radius: 150%;
}

div[data-onClick="false"] .spider-image {
  --radius: 150px;
}
